#miniWidgetMailAi {
    position: fixed;
    /* temporary attributes*/
    background-color: rgba(62, 96, 91, 0.492); 
    visibility: visible;
    bottom: 0; right: 0;
    margin-bottom: 5px; margin-right: 5px;
}
::after {
    transform: translateY();
    animation-name: inherit;
}

svg {
    fill: #E4A951;
}

svg:hover {
    fill: rgb(136, 240, 226);
}

.suggestionsBox {
    height: inherit;
    width: 40%;
    background-color: linear-gradient(180deg, rgba(139, 214, 237, 0.351) 10%, rgb(0, 0, 0) 50%, rgba(139, 214, 237, 0.351) 100%);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: hidden;
    margin: 10px;
}

.suggestionsBox:hover {
    overflow-x: auto;
}

.suggestions {
    height: 5vh;
    width: 50vw;
    margin: 2px;
    display: flex;
    flex: none;
    flex-grow: 0;
    font-size: 2vw;
    line-break: auto;
    align-items: center;
}

.suggestions:hover{
    transform: translateY(-1);
    background-color: rgba(54, 53, 53, 0.338);
}